@import "../../styles/global.css";
.background{
  background-color: var(--light-green);
  padding: var(--padding);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: solid white 5px;
}
.value{
  font-size: 3.5rem;
  margin: var(--padding);
  padding: var(--padding) 0;
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  font-family: var(--font-highlights);
  font-weight: bold;
  width: 20%;
}
.heading{
  font-size: 2rem;
  font-family: var(--font-highlights);
}