@import "../../styles/global.css";
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 225, 225);
}
.title{
  width: 100%;
  background-color: var(--mid-green);
  padding: var(--padding);
  text-align: center;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .8em;
  margin: .8em;
  max-width: 600px;
}