@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap");

:root{
  --bright-red:#da1e37;
  --light-red: #ffa5ab;
  --light-green: #a7c957;
  --mid-green: #6a994e;
  --dark-green: #386641;
  --font-body: 'Lora', serif;
  --font-highlights: 'Mountains of Christmas', cursive;
  --padding: 1rem;
}
div, p {
  text-align: center;
  font-family: var(--font-body);
}

a {
  text-decoration: none;
}