@import "../../styles/global.css";
.background{
  background-color: var(--bright-red);
  font-family: var(--font-highlights);
  font-size: 1.5rem;
  color: white;
  padding: var(--padding);
  border-bottom: white 5px solid;
}