@import "../../styles/global.css";
.container{
  background-color: var(--dark-green);
  color: white;
  padding: calc(var(--padding));
  font-size: small;
  border-top: 5px white solid;
}

.footer a{
  color: var(--light-red);
}