@import "../../styles/global.css";

.container{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: RGBA(0, 0, 100, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
}

.wrapper{
  background-color: var(--bright-red);
  border: 5px white solid;
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 550px;
}

.title{
  font-family: var(--font-highlights);
  font-size: 4.5rem;
  color: white;
}

.subtitle{
  font-family: var(--font-highlights);
  font-size: 2.5rem;
  color: white;
  padding: var(--padding);
}