@import "../../styles/global.css";
.card{
  background-color: var(--mid-green);
  padding: var(--padding);
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card:hover{
  background-color: var(--light-green);
}

.isChecked{
  background-color: var(--light-red);
  border: 2px solid var(--bright-red);
  opacity: 0.5;
}

.isChecked:hover{
  background-color: var(--bright-red);
}